body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0; /* autoから0へ変更 */
    box-sizing: border-box;
    background-color: #f8f9fa;
}
header, footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em;
    box-shadow: 0 2px 4px rgba(0,0,0,.2);
}
.button-group .btn {
    margin: 0.5rem; /* ボタン間の余白 */
    border-radius: 20px; /* ボタンの角を丸くする */
    padding: 0.5rem 1.5rem; /* ボタンのパディング */
    align-items: center; /* 垂直方向の中央揃え */
}

.ad-container {
    text-align: center; /* 広告を中央揃えにする */
    margin: auto; /* 上下左右のマージンを自動調整し、さらに中央揃えの補助をする */
    display: block; /* ブロックレベル要素として扱い、幅の指定が可能になる */
    width: 100%; /* コンテナの幅を100%に設定して、内包する広告が中央に来るようにする */
}

/* 小さいサイズの広告はデフォルトで非表示 */
.small-ad {
    display: none;
}

/* レスポンシブ対応 */
@media (max-width: 768px) {
    /* 広告の表示制御 */
    .ad-container {
        flex-direction: column; /* 広告を縦に並べる */
    }
    .large-ad {
        display: none; /* 大きいサイズの広告を非表示 */
    }
    .small-ad {
        display: block; /* 小さいサイズの広告を表示 */
    }
}